body {
    font-family: sans-serif;
    color: #222;
    background-color: rgb(242, 237, 230);
    text-align: center;
}

a{
    text-decoration: none;
}

a:visited{
    color: #222;
}

a:hover{
    transition: 0.2s ease-in-out;
    filter: invert(50%);
}

button{
    border: 2px solid transparent;
    border-radius: 50px;
    border-image-slice: 1;
    background-image: radial-gradient(rgb(112, 83, 230), rgb(115, 112, 217), rgb(126, 91, 203));
    filter: grayscale(50%);
    padding: 10px;
    font-size: 16px;
    color: #ded7d7;
}

button:hover{
    filter: brightness(1.1) grayscale(0);
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}